<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>人员变更公告</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
<link href="/static/dist/9091a6894adae2a941f257637a9bdd93.css" rel="stylesheet"></head>
<body>
<div class="container-1">
    <div class="container-2" id="content"></div>
    <div class="container-3">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <button class="btn btn-default" id="add">增加辞任董事</button>
    </div>
    <div class="container-4">
        <button class="btn btn-default" id="submit">生成公告</button>
    </div>
</div>
<script type="text/javascript" src="/static/dist/1e97f72904efcf1047ad101d1c092a43.js"></script></body>
</html>
